body {
	font-family: Arial, sans-serif;
}

h1 {
	text-align: center;
}

table {
	width: 100%;
	border-collapse: collapse;
}

th, td {
	padding: 8px;
	text-align: left;
	border-bottom: 1px solid #ddd;
}

tr:hover {
	background-color: #f5f5f5;
}

.return
{
	display: flex;
	justify-content: left;
	width: 40px;
	height: 40px;
	background: white;
	border-radius: 50%;
	align-items: center;
	text-align: center;
	text-decoration: none;
}

.button {
	display: inline-block;
	padding: 8px 12px;
	background-color: red;
	border-radius: 10px;
	font-weight: bold;
	color: #fff;
	border: none;
	text-align: center;
	cursor: pointer;
	transition: background-color 0.3s;
	text-decoration: none;
}

.button:hover {
	background-color: brown;
}

.botaocompra
{
	display: flex;
	justify-content: center;
	margin-top: 10px;
	margin-left: 2px;
}

.compra
{
	display: inline-block;
	padding: 8px 12px;
	background-color: green;
	border-radius: 10px;
	font-weight: bold;
	color: #fff;
	border: none;
	text-align: center;
	cursor: pointer;
	transition: background-color 0.3s;
	text-decoration: none;
}

.compra:hover
{
	background-color: rgb(5, 109, 5);
}