body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 20px;
}
h1 {
    color: #333;
    text-align: center;
}
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    width: 300px;
    transition: box-shadow 0.3s;
}
.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.card img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 10px;
}
.card h3 {
    color: #333;
    font-size: 20px;
    margin-top: 0;
}
.card p {
    color: #777;
    margin-bottom: 0;
}
.card-price {
    font-weight: bold;
    margin-top: 10px;
}
.card-container a {
    text-decoration: none;
}