{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Supermercado | Atualizar Senha</title>
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
  <a href="/"><button>Painel de produtos</button></a>
  {% if user.is_superuser %}
  <a href="/employee"><button>Painel de funcionários</button></a>
  {% endif %}
  <div class="container">
    <h2>Atualização de Senha</h2>

    <form autocomplete="off" action="/employee/change-password/" method="post">
      {% csrf_token %}
      {% if messages %}
        {% for message in messages %}
          {% if message.tags == "success" %}
          <p style="color: green">{{ message }}</p>
          {% else %}
          <p style="color: red">{{ message }}</p>
          {% endif %}
        {% endfor %}
      {% endif %}

      <input type="password" maxlength="50" id="password" name="password" placeholder="Digite sua nova senha" required>

      <button type="submit">Alterar</button>
    </form>
  </div>
</body>
</html>