{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Supermercado | {{ product.NAME }}</title>
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
  <a href="/">
    <button>Painel de Itens</button>
  </a>
  <a href="/product/cart"><button>Carrinho ({{ cartQuantity }})</button></a>
  <div class="container">
    <h2>{{ product.NAME }}</h2>

    <form autocomplete="off" action="/product/add/{{ product.id }}/" method="post">
      {% csrf_token %}
      {% if messages %}
        {% for message in messages %}
          {% if message.tags == "success" %}
            <p style="color: green">{{ message }}</p>
          {% else %}
            <p style="color: red">{{ message }}</p>
          {% endif %}
        {% endfor %}
      {% endif %}

      <label for="quantity">Quantidade (máximo {{ product.QUANTITY }}):</label>
      {% if quantityInCart %}
      <input type="number" id="quantity" min="1" value="{{ quantityInCart }}" max="{{ product.QUANTITY }}" name="quantity" placeholder="Digite a quantidade" value="1" required>
      {% else %}
      <input type="number" id="quantity" min="1" max="{{ product.QUANTITY }}" name="quantity" placeholder="Digite a quantidade" value="1" required>
      {% endif %}

      <button type="submit">Adicionar ao carrinho</button>
    </form>
  </div>
</body>
</html>