{% load static %}
<!doctype html>
<html> 
<head> 
    <title>Supermercado</title> 
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head> 
<body> 
    {% if request.user.is_authenticated %}
    <a href="/logout">
        <button>Deslogar</button>
    </a>
    {% else %}
    <a href="/login">
        <button>Logar</button>
    </a>
    {% endif %}

    {% if request.user.is_staff %}
    <a href="/product/register">
        <button>Cadastrar produto</button>
    </a>
    {% endif %}

    {% if request.user.is_superuser %}
    <a href="/employee/register">
        <button>Cadastrar funcionário</button>
    </a>
    {% endif %}

    <h1>Painel do Cliente</h1> 
    <div class="card-container"> 
        {% for product in products %}
        <a href="/product/{{ product.id }}">
            <div class="card"> 
                <h3>{{ product.NAME }}</h3> 
                <p>Quantidade em estoque {{ product.QUANTITY }}.</p> 
                <p class="card-price">Preço: R$ {{ product.PRICE }}</p> 
            </div> 
        </a>
        {% endfor %}
    </div> 
</body>
</html>